<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/API_ATB_Practice/ATB8xAPIPractice/src/test/java/IntegrationScenario/TC_Integration.java"><classes><class name="IntegrationScenario.TC_Integration"><methods><include name="getToken"/><include name="getBookingId"/><include name="TC_1_GetRequest"/><include name="TC_2_PostRequest"/><include name="TC_3_PutRequest"/><include name="TC_4_PatchRequest"/><include name="TC_5_DeleteRequest"/><include name="TC_1_GetDeletedRequest"/></methods></class></classes></test></suite>